@import './nullify.scss';
@import './vars.scss';
@import './mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/* | GLOBAL */
body {
  font-family: 'Rubik', sans-serif;
}


/* | COMMON */
.container {
  max-width: $w-mobile;
  margin: 0 auto;
  padding: 0 5px;
}

/* | MAIN */
.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100%;


  background-color: orange;

  .content {
    flex: 1 1 auto;
  }
}

.module {
  max-width: $w-mobile-big;
  margin: 0 auto;
  padding: 0px 0px 35px 0;
  

  background-color: white;

  @media (min-width: $w-mobile-big) {
    margin: min(3%, 30px) auto;

    border-radius: 7px;
  }

  .comment {
    padding: 35px 0 0 0;

    &__row {
      display: flex;
      align-items: stretch;
    }
      &__sidebar {
        flex: 0 0 52px;

        display: flex;
        flex-direction: column;

        @media (min-width: $w-mobile) {
          margin-right: 15px;
        }
      }
        &__avatar {
          flex: 0 0 100%;

          display: flex;
          flex-direction: column;

          max-width: 50px;
          
          img {
            max-width: 100%;

            display: none;

            @media (min-width: $w-mobile) {
              display: block;
            }
          }

          &::after {
            content:'';

            align-self: center;

            height: 100%;
            margin: 12px 0px 0px 0;
  
  
            border-left: 2.5px solid darkgray;
          }
        }
      
      &__main {
        flex: 0 1 calc(100% - 52px);
      }
        &__body {
          word-break: break-all;

          @media (min-width: $w-mobile) {
            word-break: normal;
          }
        }
          &__headline {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;

            margin: 0px 0px 15px 0;
          }
          &__username {
            font-weight: bold;
            }
            &__time {
              color: darkgray;
            }

          &__content {
            margin: 0px 0px 30px 0;


            line-height: 22px;
            white-space: normal;
          }

          /* || PANEL */
          .panel {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 18px;
            
            max-width: 200px;

            /* || RATE */
            .rate-btn {
              display: inline-block;

              width: 17px;


              background-color: white;

              img {
                max-width: 100%;
              }
            }
            .rate-num {
              display: inline-block;


              font-weight: bold;
            }
          }
  }
}